*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.profile-card{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
    background-color: #10003d;
}

/* Background styling  */
.background{
    width: 430px;
    height: 520px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.background .shape{
    position: absolute;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.shape:first-child{
    background: linear-gradient(to right,#10003d, #1c57e0);
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -30px;
    bottom: -80px;
}

/* Wrapper styling  */
.wrapper,
.wrapper .img-area,
.buttons .edify{
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.wrapper{
    position: relative;
    display: flex;
    align-items: center !important; 
    justify-content: center !important;
    flex-direction: column !important;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
}
.wrapper .img-area{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.img-area .inner-area{
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%;
}
.inner-area img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.wrapper .user-name{
    color: white;
    margin: 10px 0 5px 0;
    font-size: 23px;
    font-weight: 500;
}
.wrapper .email{
    color: #d0d1d7;
    font-weight: 400;
    font: 23px;
}
.wrapper .buttons .edify:hover::before{
    content: "";
    position: absolute;
    border-radius: inherit;
    background: #ecf0f3;
    /* top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
    box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}
.wrapper .buttons{
    display: flex;
    width: 100%;
    justify-content: center;
}
.buttons .edify{
    outline: none;
    padding: 12px 0;
    color: #d0d1d6;
    font-size: 17px;
    position: relative;
    width: 100%;
    border: none;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
}
.buttons .edify:hover:before{
    z-index: -1;
    border-radius: 5px;
    }
    
    .buttons .edify:hover{
      color: black;
    }
